<html>
<head>
	<title> {{page_title}} </title>
</head>
<body>
	{{> header}}
	<p>Hamar Website par swagat hain aapka , kripya karke yaha se jaaye ,server par load na badaye</p>
	You are {{shit_type}} shit
	{{> footer}}
</body>
</html>
